@import '../fonts/bravura/stylesheet.css';
.bravura {
  font-family: 'bravuraregular';
  font-size: 16px;
}
body {
  background-color: #efefef;
}
.svg-input {
  background-color: #e7e7e7;
}
.svg-input .directions {
  font-family: 'bravuraregular';
  fill: #38a;
}
.svg-input .line {
  stroke-width: 2;
}
.svg-input .line.staff {
  stroke: #555;
}
.svg-input .line.ledger {
  stroke: #d7d7d7;
}
